<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<section>
		<!-- main content -->
		<main class="mt-1 p-2">
			<div class="container">

				<nav class="mt-1 mb-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/sleep">Daily Goal Tracker</a></li>
						<li class="breadcrumb-item">Edit</li>
					</ol>
				</nav>

				<div class="row">
					<div th:if="${msg}" class="col-md-6 mb-3 alert alert-danger" style="margin-left:10px;">
						<span th:text="${msg}"></span>
					</div>
				</div>
				
				<form th:action="@{/dailygoal/edit}" th:object="${dailygoal}" method="post">

					<div class="row">
						<input type="hidden" th:field="*{id}"/>

						<div class="col-md-4">
							<label for="calories" class="form-label">Calories</label>
							<input class="form-control" type="text" id="calories" th:field="*{calories}" pattern="[0-9]+([,.][0-9]+)?" required/>
						</div>
						<div class="col-md-4">
							<label for="exerciseMinutes" class="form-label">Exercise Minutes</label>
							<input class="form-control" type="text" id="exerciseMinutes" th:field="*{exerciseMinutes}" pattern="[0-9]+([,.][0-9]+)?"  required/>
						</div>
						<div class="col-md-4">
							<label for="sleep" class="form-label">Sleep(hours)</label>
							<input class="form-control" type="text" id="sleep" th:field="*{sleep}" pattern="[0-9]+([,.][0-9]+)?" required/>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-md-4">
							<label for="sleep" class="form-label">Water(litre)</label>
							<input class="form-control" type="text" id="water" th:field="*{water}" pattern="[0-9]+([,.][0-9]+)?" required/>
						</div>
						<div class="col-md-4">
							<label for="date" class="form-label">Date</label>
							<input class="form-control" type="date" id="date" th:field="*{date}" required/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 mt-4">
							<a href="/dailygoal" class="btn btn-warning" style="margin-right: 15px;"> Back</a>
							<button type="submit" class="btn btn-success"> Update </button>
						</div>
					</div>
				</form>

			</div>

		</main>
		<!-- main content end-->
	</section>

</body>

</html>