<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<section>
		<!-- main content -->
		<main class="mt-1 p-2">
			<div class="container">

				<nav class="mt-1 mb-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/calories">Calorie Tracker</a></li>
						<li class="breadcrumb-item">Add</li>
					</ol>
				</nav>

				<div class="row">
					<div th:if="${msg}" class="col-md-6 mb-3 alert alert-danger" style="margin-left:10px;">
						<span th:text="${msg}"></span>
					</div>
				</div>
				
				<form th:action="@{/calories/add}" th:object="${calorie}" method="post">
					<div class="row">
						<div class="col-md-3">
							<label for="foodType" class="form-label">Food Type</label>
							<input class="form-control" type="text" id="foodType" th:field="*{foodType}" required/>
						</div>
						<div class="col-md-3">
							<label for="amountOfFood" class="form-label">Amount of Food(gram)</label>
							<input class="form-control" type="text" id="amountOfFood" th:field="*{amountOfFood}" pattern="[0-9]+([,.][0-9]+)?" required/>
						</div>

						<div class="col-md-3">
							<label for="calories" class="form-label">Calories</label>
							<input class="form-control" type="text" id="calories" th:field="*{calories}" pattern="[0-9]+([,.][0-9]+)?" required/>
						</div>
						<div class="col-md-3">
							<label for="amountOfFood" class="form-label">Date</label>
							<input class="form-control" type="date" id="intakeDate" th:field="*{intakeDate}" required/>
						</div>
					</div>

					<div class="row">
						<div class="col-md-5 mt-4">
							<a href="/calories" class="btn btn-warning" style="margin-right: 15px;"> Back</a>
							<button type="submit" class="btn btn-success"> Save </button>
						</div>
					</div>

				</form>
			</div>

		</main>
		<!-- main content end-->
	</section>

</body>

</html>